PROJECT_NAME="Civet Cafe POS & Billing System"
ENVIRONMENT=development

SUPABASE_URL=https://vhhlrsziijuwzxqrgvxc.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZoaGxyc3ppaWp1d3p4cXJndnhjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI3MzI5NjMsImV4cCI6MjA5ODMwODk2M30.X3L4XfCXDD55HVcfFZeu57QSHcJz3EPiAddwf6B6z-k
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZoaGxyc3ppaWp1d3p4cXJndnhjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjczMjk2MywiZXhwIjoyMDk4MzA4OTYzfQ.LNT3QYvZwB6VP5edU5pc0qmT-ogEAXm3qXsrSL5eLXo
DATABASE_URL=postgresql://postgres:civetcafe1034@db.vhhlrsziijuwzxqrgvxc.supabase.co:5432/postgres